# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# URL Base (Importante para retornos de Webpay)
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Transbank Webpay
# 'INTEGRATION' para pruebas, 'PRODUCTION' para real
TRANSBANK_ENVIRONMENT=INTEGRATION
# Código de comercio (597055555532 es el de integración)
TRANSBANK_COMMERCE_CODE=597055555532
# API Key (Esta es la pública de integración)
TRANSBANK_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
